@import url("https://fonts.googleapis.com/css?family=Chakra+Petch");
@import url("https://fonts.googleapis.com/css?family=Righteous");
@-webkit-keyframes floatAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes floatAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body, html {
  height: 100%;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/disco-75c0c1ef.png");
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 120%;
}

@media (min-width: 650px) {
  body {
    font-size: 140%;
  }
}

img {
  border-radius: 50%;
  width: 75px;
}

#top {
  padding: 30px;
  margin: auto 0;
  height: 500px;
}

@media (min-width: 650px) {
  #top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "picture info";
  }
}

#top #profile {
  display: block;
  margin: 0 auto;
  width: 40%;
}

@media (min-width: 650px) {
  #top #profile {
    width: 80%;
    max-width: 300px;
    grid-area: picture;
  }
}

#top #name {
  color: white;
  text-align: center;
}

@media (min-width: 650px) {
  #top #name {
    text-align: left;
    grid-area: info;
  }
}

#top #role {
  text-align: center;
}

@media (min-width: 650px) {
  #top #role {
    text-align: left;
    grid-area: info;
    margin-top: 100px;
  }
}

#top #social {
  margin-top: 50px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 650px) {
  #top #social {
    margin: 0;
    grid-area: info;
    -ms-grid-rows: 50px;
        grid-template-rows: 50px;
  }
}

#top .social-link {
  margin: auto 0;
}

@media (min-width: 650px) {
  #top .social-link {
    margin-top: 170px;
  }
}

#top .ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  display: none;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

@media (min-width: 650px) {
  #top .ct-btn-scroll {
    display: block;
    margin: 125px auto;
  }
}

#projects {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#projects #ptitle {
  padding-top: 50px;
  color: white;
  margin-top: 5%;
  margin-bottom: 8%;
}

@media (min-width: 650px) {
  #projects #entries {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  #projects #entries .card:hover {
    background-color: #00e598;
  }
}

#projects #entries .card {
  padding: 15px;
  border-radius: 10%;
  background-color: white;
  margin-bottom: 15%;
  margin-left: 15%;
  margin-right: 15%;
  -webkit-animation-name: floatAnimation;
          animation-name: floatAnimation;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#projects #entries .image {
  display: block;
  margin: 0 auto;
}

#projects #entries .title {
  text-align: center;
}

#vouches {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

#vouches #title {
  padding-top: 50px;
  color: white;
  margin-top: 5%;
  margin-bottom: 8%;
  text-align: center;
  font-size: 50px;
}

#vouches .vouch-outline {
  position: relative;
  display: block;
  border-radius: 0%;
  width: 30%;
  height: 30%;
  margin: auto;
}

@media (min-width: 650px) {
  #vouches .vouch-outline {
    width: 10%;
    height: 10%;
  }
}

#vouches #vouch-text {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Righteous', cursive;
  font-style: italic;
}

#vouches #voucher {
  color: grey;
  text-align: center;
  font-size: 30px;
}

footer {
  padding: 15px;
  background-color: black;
  color: white;
}
/*# sourceMappingURL=main.css.map */