@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

$palette: (
    light: lighten(aquamarine, 30%),
    primary: aquamarine,
    dark: darken(aquamarine, 30%),
    secondary: darkblue
);

@function palette($colorName) {
    @return map-get($palette, $colorName);
}

$largeWidth: 650px;

@mixin large {
    @media (min-width: #{$largeWidth}) {
        @content
    }
}

@keyframes floatAnimation {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(15deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-15deg);}
    100% {transform: rotate(0deg);}
}

body, html {
    height: 100%;
    background-image: url("https://coolbackgrounds.io/images/backgrounds/disco-75c0c1ef.png");
}

body {
    margin: 0;
    
    width: 100%;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 120%;

    @include large {
        font-size: 140%;
    }


}

img {
    border-radius: 50%;
    width: 75px;
}

#top {
    padding: 30px;
    margin: auto 0;
    height: 500px;

    @include large {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "picture info";
    }

    #profile {
        display: block;
        margin: 0 auto;
        width: 40%;

        @include large {
            width: 80%;
            max-width: 300px;
            grid-area: picture;
        }
    }
    
    #name {
        color: white;
        text-align: center;
        @include large {
            text-align: left;
            grid-area: info;
        }
    }
    
    #role {
        text-align: center;
        @include large {
            text-align: left;
            grid-area: info;
            margin-top: 100px;

        }
    }

    #social {
        margin-top: 50px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @include large {
            margin: 0;
            grid-area: info;
            grid-template-rows: 50px;
        }
    }
    
    .social-link {
        margin: auto 0;
        @include large {
            margin-top: 170px;
        }
    }

    .ct-btn-scroll {
        width: 49px;
        height: 49px;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        @include large {
          display: block;
          margin: 125px auto;
        }
        display: none;
        padding-top: 500px;
        z-index: 9;
        border-radius: 50%;
        -webkit-transition: background-color 0.25s ease-in-out;
        transition: background-color 0.25s ease-in-out;
    }
}

#projects {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    

    #ptitle {
        padding-top: 50px;
        color: white;
        margin-top: 5%;
        margin-bottom: 8%;
    }

    #entries {
        @include large {
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .card:hover {
                background-color: palette(dark);
            }
        }
        .card {
            padding: 15px;
            border-radius: 10%;
            background-color: white;
            margin-bottom: 15%;
            margin-left: 15%;
            margin-right: 15%;
            
            animation-name: floatAnimation;
            animation-duration: 8s;
            animation-iteration-count: infinite;
        }
        .image {
            display: block;
            margin: 0 auto;
        }
        .title {
            text-align: center;
        }
    }
}

#vouches {
    margin-top: 100px;
    position: relative;
    #vouch-outline {
        display: block;
        border-radius: 0%;
        width: 90%;
        height: 150%;
        margin: auto;
        z-index: 0;

        @include large {
            width: 50%;
            height: 75%;
        }
    }
    #vouch-text {
        position: relative;
        text-align: center;
        top: -190px;
        @include large {
            top: -350px;
        }
        z-index: 1;
    }
    #voucher {
        color: grey;
        position: relative;
        top: -170px;
        @include large {
            top: -290px;
        }
        text-align: center;
        font-size: 20px;
    }
}

footer {
    padding: 15px;
    background-color: black;
    color: white;
}